<div class="pet-item">
  <div class="grid grid-cols-12">
    <div class="col-span-3">
      <img src="../assets/placeholder.jpg" />
    </div>
    <div class="col-span-9 p-4">
      <h3 class="pb-2">{{ petItem.name ? petItem.name : "Undefined" }}</h3>
      <p
        class="status-title"
        [ngClass]="{
          available: petItem.status === 'available',
          pending: petItem.status === 'pending',
          sold: petItem.status === 'sold'
        }"
      >
        {{ petItem.status }}
      </p>
      <p *ngIf="petItem.category">
        category:
        {{ petItem.category.name ? petItem.category.name : "Undefined" }}
      </p>
    </div>
  </div>
</div>
