<div class="grid-cols-12 grid bg-gray-900 py-6 px-12">
  <div class="col-span-6 ">
    <a routerLink="" class="title">Pets&co.</a>
  </div>
  <div class="col-span-6 ">
    <div class="secundary-btn float-right">
      <a class="font-bold" routerLink="/add-pet" >Register new pet</a>
    </div>
  </div>
</div>

<div class="global-container">
  <router-outlet></router-outlet>
</div>

<div class="grid-cols-12 grid">
  <div class="col-span-12 bg-gray-900 py-3">
    <p class="px-6 text-white">
      Powered by Juan Stelling | {{ getCurrentYear() }}
    </p>
  </div>
</div>
