<div class="header">
  <div class="grid grid-cols-12">
    <div class="col-span-6">
      <a routerLink="" class="title">Pets&co.</a>
    </div>
    <div class="col-span-6">
      <a class="float-right font-bold text-white" routerLink="/add-pet"
        >Register new pet</a
      >
      <!-- <button class="secundary-btn float-right">
        
      </button> -->
    </div>
  </div>
</div>

<div class="global-container">
  <router-outlet></router-outlet>
</div>

<div class="grid grid-cols-12">
  <div class="col-span-12 bg-gray-900 py-3">
    <p class="px-6 text-white">
      Powered by Juan Stelling | {{ getCurrentYear() }}
    </p>
  </div>
</div>
